#whole {
    display:flex;
    height: 100%;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#container {
    display: flex;
    min-width: 600px;
    min-height: 800px;
    border-radius: 10px;
    background-color: rgb(37, 34, 34);
    margin: auto;
    flex-direction: column;
}

#display {
    margin-top: 20px;
    background-color: lightgray;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
    max-height: 80px;
    display: flex;
    flex-grow: 1;
    font-size: 60px;
    justify-content: flex-end;
    overflow: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1px;
}

#layout {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#grid {
    display: flex; 
    flex-wrap: wrap; 
    align-items: stretch;
    flex-grow: 1;
    flex-direction: row-reverse;
    flex-basis: 75%
}

#operatorGrid {
    display: flex;
    flex-direction: column;
    flex-basis: 25%
}
.numberButton {
    background-color: rgb(204, 160, 77);
}
.decimalButton {
    background-color: rgb(204, 160, 77);
}
.operatorButton {
    background-color: rgb(64, 184, 64);
}
.equalButton {
    background-color: rgb(64, 184, 64);
}
.miscButton {
    background-color: rgb(201, 77, 201);
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: black;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 33.333%;
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.zeroButton {
    flex-basis: 66.66%
}

button:hover {
    background-color: #008CBA; /* change to your desired color */
    color: white; /* change to your desired color */
  }

  .activeButton {
    background-color: #008CBA;
  }